target/
.DS_Store
.project
.settings/
solr-common/.classpath
solr-common/.gitignore
solr-common/.project
solr-common/.settings/
solr-front/.classpath
solr-front/.gitignore
solr-front/.project
solr-front/.settings/
solr-common/target/
solr-front/target
solr-front/logs
solr-front/node_modules
